*{
    background-color: honeydew;
    font-family: sans-serif;
}
.header {
    text-align: center;
    color: black;
    text-emphasis-color: black;
    font-size: 34px;
    text-shadow: black 3px 3px 5px;
}
.body{
    display: inline-block;
    width: 100%;
}
.title{
    width: 100%;
}
.intro{
    width: 100%;
    line-height: 1.5em;
}
.image {
    width: 100%;
}
/*.title {
    background-color: darkslategray;
}*/
#fillin {
    background-color: indianred;
    margin: auto;
}
.input{
    background-color: lightyellow;
}
#submit {
    color: rgb(248, 233, 15);
    background-color: saddlebrown;
}
.clear {
    background-color: saddlebrown;
    color: rgb(248, 233, 15);
}